*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    display: flex;
    flex-direction: column;   
    background: url(./Download\ Free\ Vectors\,\ Images\,\ Photos\ &\ Videos\ _\ Vecteezy.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: space-between; 
    align-items: center;
}


.title{
    margin-top: 30px;
    color: white;
    font-size: 40px;
}


.container{
    display: flex;
    gap: 10px;
    margin-bottom: 100px;
    background-color: black;
    border-radius: 15px;
    height: 400px;
    width: 800px;
    justify-content: center;
    align-items: center;
}

.key{
    padding: 20px 25px;
    font-size: 18px;
    cursor: pointer;
    height: 300px;
    width: 100px;
    /* margin-top: 30px; */
    border-radius: 0 0 20px 20px;
    box-shadow: 0 5px rgb(145, 143, 143);
}



h1{
    color: white;
    font-size: 50px;
    margin-top: 20px;
}
